api/config/n8n/workflows/send_alerts_multi.json
{
  "name": "Send Alerts Multi-Channel",
  "nodes": [
    {
      "parameters": {
        "path": "send_alerts_multi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format alert message\nconst severity = $json.severity || 'WARNING';\nconst icon = severity === 'CRITICAL' ? '🔴' : severity === 'WARNING' ? '⚠️' : 'ℹ️';\n\nconst message = `${icon} *Alert: ${$json.issue_type}*\\n\\n` +\n  `📊 Campaign: ${$json.campaign_name} (${$json.campaign_id})\\n` +\n  `📈 CTR: ${$json.metrics?.ctr || 'N/A'}%\\n` +\n  `💰 CPA: R$${$json.metrics?.cpa || 'N/A'}\\n` +\n  `💸 Spend: R$${$json.metrics?.spend || 'N/A'}\\n` +\n  `⏰ Timestamp: ${$json.timestamp}`;\n\nreturn [{ message, severity, ...$ json }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.slack_webhook_url || $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "fromEmail": "alerts@fbads.ai",
        "toEmail": "admin@example.com",
        "subject": "={{ '[' + $json.severity + '] Facebook Ads Alert: ' + $json.issue_type }}",
        "emailType": "text",
        "message": "={{ $json.message }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, channels_sent: ['slack', 'email'] } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [
        [
          {"node": "Send to Slack", "type": "main", "index": 0},
          {"node": "Send Email", "type": "main", "index": 0}
        ]
      ]
    },
    "Send to Slack": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}

